* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  height: 50px;
  background-color: #ff9a4b;
}

main {
  width: 960px;
  margin: 50px auto;
  display: flex;
}

.box {
  width: 300px;
  margin-right: 30px;
  padding: 10px;
  position: relative;
  background-color: #eee;
}

.box: last-child {
  margin-right: 0px;
}

.image1 {
  height: 150px;
  background-image: url(img/flow01.png);
  background-position: bottom;
  background-size: cover;
}

.image2 {
  height: 150px;
  background-image: url(img/flow02.png);
  background-position: bottom;
  background-size: cover;
}

.image3 {
  height: 150px;
  background-image: url(img/flow03.png);
  background-position: bottom;
  background-size: cover;
}

.step {
  background-color: #ff9a4b;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  padding: 2px;
}

.title {
  margin: 15px 0px 5px;
}

footer {
  height: 50px;
  background-color: #aaa;
}

@media screen and (max-width: 768px) {
  main {
    width: 100%;
    display: block;
  }

  .box {
    width: 90%;
    margin-left: 30px;
    margin-bottom: 20px;
  }

  .box::last-child {
    margin-bottom: 0px;
  }

  .image1 {
    width: 100%;
    height: 0;
    padding-top: 55%;
  }

  .image2 {
    width: 100%;
    height: 0;
    padding-top: 55%;
}

  .image3 {
   width: 100%;
    height: 0;
    padding-top: 55%;
  }

  .title {
    width: 100%;
  }

  footer {
    width: 100%;
  }
}
